In [1]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [2]:
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}

In [3]:
from pandas import DataFrame as df # calling a function from the library and renaming the function name

friends=df.from_dict(data)

In [4]:
friends

   ages  country education    names  woman
0    32    Chile      Bach    Tomás  False
1    33  Senegal      Bach  Pauline   True
2    28    Spain    Master    Pablo  False
3    30   Norway       PhD    Bjork  False
4    32     Peru      Bach     Alan  False
5    27     Peru    Master    Juana   True

In [5]:
# Who is the oldest person in this group of friends?
friends[friends.ages==max(friends.ages)].names

1    Pauline
Name: names, dtype: object

In [8]:
# How many people are 32?
len(friends[(friends.ages==32)])

2

In [16]:
# How many are not Peruvian? (use two different codes)
len(friends[friends.country!='Peru'])

peru=['Peru']
len(friends[~friends.country.isin(peru)])

4

In [17]:
# Who is the person with the highest level of education?

friends[friends.education=='PhD'].names

3    Bjork
Name: names, dtype: object

In [18]:
# what is the sex of the oldest person in the group?
friends[friends.ages==max(friends.ages)].woman #True indicates woman; False indicates not woman

1    True
Name: woman, dtype: bool